@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  padding-top: 70px;
}

.nav-link {
  color: #3a3939 !important;
}

.navbar-brand img {
  height: 4rem;
  width: auto;
}

.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #302f2f;
  height: 2px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.mainindex {
  margin-top: 56px;
}
.mainindex .colorh1banner {
  font-size: 45px;
  color: rgb(6, 83, 114);
}
@media (max-width: 767px) {
  .mainindex .tamañoh1banner {
    font-size: 24px;
  }
  .mainindex .card-img-index {
    margin-top: 15px;
  }
}

.gradiantes-index {
  background: rgb(221, 213, 213);
  background: linear-gradient(0deg, rgba(221, 213, 213, 0.77) 0%, rgb(221, 213, 213) 30%);
}

.form-container {
  margin-top: 7rem;
}
.form-container .border {
  border-color: #000 !important;
}
.form-container .border .bntform {
  background-color: #302f2f;
  border-color: #302f2f;
}
.form-container .border .bntform:hover {
  background-color: #000;
  border-color: #000;
}

.h1topproductos {
  margin-top: 40px;
}

.btncomprar {
  background-color: #302f2f;
  border-color: #302f2f;
}
.btncomprar:hover {
  background-color: #000;
  border-color: #000;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
  color: inherit;
}
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

footer {
  background-color: #302f2f;
}
footer .copyrightcolor {
  background-color: rgba(0, 0, 0, 0.2);
}

.footerproductos {
  margin-top: 40px;
}

.color-fondo {
  background-color: rgba(192, 189, 189, 0.5);
}/*# sourceMappingURL=estilos.css.map */