.nav-link {
    color: $color-link !important; 
}
 
 .navbar-brand img {
    height: 4rem;
    width: auto;
}

.hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 100%;
      right: 0;
      bottom: 0;
      background: $color-secundario;
      height: 2px;
      transition-property: left;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  
    &:hover:before, 
    &:focus:before, 
    &:active:before {
      left: 0;
    }
  }