.form-container {
    margin-top: 7rem;
  
    .border {
        border-color: $color-principal !important;
    
        .bntform {
            background-color: $color-secundario;
            border-color: $color-secundario;
        
            &:hover {
                background-color: $color-principal;
                border-color: $color-principal;
            }
        }
    }
}