.page_404 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.imagenerror404 {
    height: 20rem;
    width: auto;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff;
    padding: 10px 20px;
    background-color: $color-principal;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    &:hover {
        color: #fff;
        background-color: $color-secundario;
    }
}
@media (max-width: 767px) {
    .imagenerror404 {
        max-width: 150px; 
        max-height: 100px; 
    }
}