.mainindex {
    margin-top: 56px;
  
    .colorh1banner {
       font-size: 45px;
       color: $color-h1banner;
       text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.9);
       text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    }
    
    @media (max-width: 767px) {
     .tamañoh1banner {
       font-size: 24px; 
     }
     .card-img-index {
      margin-top: 15px;
     }
   }

}

.gradiantes-index {
  background: rgb(221,213,213);
background: linear-gradient(0deg, rgba(221,213,213,0.77) 0%, rgba(221,213,213,1) 30%);
}