@mixin boton-comprar {
  color: #fff;
  background-color: $color-secundario;
  border-color: $color-secundario;

  &:hover {
      color: #fff;
      background-color: $color-principal;
      border-color: $color-principal;
  }

  &:focus {
      outline: none;
  }

}